@import "tailwindcss";
@plugin '@tailwindcss/typography';
@source "../components";
@source "../app";
@source "../lib";
@source "../content";

@theme {
	--color-brand-primary: #00447c;
	--color-brand-accent: #cc0000;
	--color-brand-secondary: #ffffff;
	--color-text-dark: #1a1a1a;
	--color-bg-light: #f5f5f5;

	--font-sans: var(--font-inter), system-ui, sans-serif;

	--shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.06);
}

body {
	background-color: #ffffff;
	color: var(--color-text-dark);
}