@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
	--color-brand-primary: #00447C;
	--color-brand-accent: #CC0000;
	--color-brand-secondary: #FFFFFF;
	--color-text-dark: #1A1A1A;
	--color-bg-light: #F5F5F5;

	--font-sans: var(--font-inter), system-ui, sans-serif;

	--shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.06);
}

body {
	background-color: #ffffff;
	color: var(--color-text-dark);
}